# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model checkpoints / large files
*.pt
*.pth
*.ckpt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
